<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/nav.ejs') %>

      <div class="container">
        <ul class="collection with-header">

          <% if (items.length> 0) { %>

            <% items.forEach(item=> { %>
              <li class="collection-item" id="<%= item._id%>">
                <div>
                  <%= item.name %> $<%= item.price%>
                      <div class="secondary-content">
                        <i style="cursor:pointer;" class="material-icons"
                          onclick="deleteItem('<%= item._id%>')">delete</i>
                        <i style="cursor:pointer;" class="material-icons">edit</i>
                      </div>
                </div>
              </li>
              <% })}else{ %>
                <li>There are no items</li>
                <%}%>
        </ul>
      </div>
      <script>
        async function deleteItem(id) {
          try {
            let response = await fetch(`http://localhost:3000/api/deleteitem/${id}`, {
              method: "DELETE",
              headers: {
                'Content-type': 'application/json'
              }
            })
            if (response.status === 500) return window.location.href = "http://localhost:3000/error"
            document.getElementById(id).remove()
          } catch (err) {
            console.log(err)
          }
        }
      </script>

  </body>

</html>